*{   margin:0;
    padding:0;
}

body{
    font-family: "Inter";
}

.rodape{
    background-color: #D9D9D9;
    padding: 30px;
    height: 150px;
   }
 
a{
    float: right;
    margin-top: 20px;
}

.cabecalho{
    padding:41px 54px 41px 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    text-decoration: none;
    color: #000;
}

.banner{
    background-image: url("img/banner.png");
    background-size: cover;
    height: 454px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 44px;
}

.produto{
    margin-top: 67px;
}

.titulo{ 
text-align: center;
font-size: 49px;
font-weight: normal;
margin-bottom: 19px;
}

.linha{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.coluna{
    width: 369px;
    border: 1px solid #000;
        
}

.coluna p{
margin: 16px 30px 35px 30px;
}

.botao{
    background-color: #8597f6;
    color:#fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 60px;
    display: block;
    width: 214px;
    box-sizing: border-box;
    margin: 0px auto 25px auto;
    border-radius: 0px;
}